*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 50vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 3px 5px 10px rgba(255, 255, 255, 0.364);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90%;
    color: white;
    padding: 7px;
}

h2{
    color: #2c3e50;
    font-size: xx-large;
    margin-top: 10px;
}

form input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    font-size: larger;
}

button {
    width: 70%;
    padding: 10px;
    background-color: #2c3e50;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
}

a{
    color: #2c3e50;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button:hover{
    background-color: #1c2e3f;
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

span{
    color: #2c3e50;
}